extends layout

block content
  div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='navbar-inner')
      div(class='container')
        button(type='button' class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse')
          span(class='icon-bar')
          span(class='icon-bar')
          span(class='icon-bar')
        a(class='brand' href='index.php') Project Moodle
        div(class='nav-collapse collapse')
          ul(class='nav')
            li(class='active')
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
          form(id='form_login' class='navbar-form pull-right')
            input(type='text' placeholder='Login' name='username' id='username' class='span2')
            input(type='password' placeholder='password' name='password' id='password' class='span2')
            button(type='button' id='submitLogin' name='send' class='btn') Access
  div(class="container")
    div(class="hero-unit")
      h1= title
      p Welcome to the web application perfecting his knowledge and learning, based on automatic monitoring of students, through the Fuzzy logic.
      p(a href="#" class="btn btn-primary btn-large") Learn more &raquo;
    div(class="row")
      div(class="span4")
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p 
          a(class="btn" href="#") View details &raquo;
      div(class="span4")
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p 
          a(class="btn" href="#") View details &raquo;
      div(class="span4")
        h2 Heading
        p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p 
          a(class="btn" href="#") View details &raquo;
    hr
    footer
      p &copy; Apprenticeship Object Project 2013