body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container .hero-unit{
	text-align: center;
}

.form-search, .form-search-table{
	display: none;
}

.form-search.active, .form-search-table.active{
	display: block;
}

.feedbacks{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 90%;
	height: auto;
	margin-top: 60px;
	margin-left: 5%;
	margin-right: 5%;
}